{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="{{ _charset }}" />
{% block head_style %}
   
    <link href="{{ asset('bundles/mopabootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{ asset('bundles/mopabootstrap/css/style.css') }}" type="text/css" rel="stylesheet" media="screen" />
    
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {# Overwrite this block to add your own js here, to get them generated into final files#}
    
    <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/mopabootstrap/js/bootstrap.js') }}"></script>
     
    {% endblock head_script %}

    <title>{% block title %}Sklep{% endblock title %}</title>
    {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}
    <!-- No navbar included here to reduce dependencies, see https://github.com/phiamo/MopaBootstrapSandboxBundle/blob/master/Resources/views/base.html.twig for howto include it -->
    {% endblock navbar %}

    {% block container %}
    {% block container_div_start %}<div class="{% block container_class %}container{% endblock container_class %}">{% endblock container_div_start %}
        {% block header %}
        {% endblock header %}

        {% block content_div_start %}<div class="content">{% endblock content_div_start %}
            {% block page_header %}
            <div class="page-header">
                  <h1>{% block headline %}Internetowy sklep z filmami{% endblock headline %}</h1>
            </div>
            {% endblock page_header %}

            {% block flashes %}
            {% if app.session.flashbag.peekAll|length > 0 %}
            <div class="row">
                <div class="col-sm-12">
                {{ session_flash() }}
                </div>
            </div>
            {% endif %}
            {% endblock flashes %}

            {% block content_row %}
            <div class="row">
                {% block content %}
                <div class="col-sm-9">
                    {% block content_content %}
                    {% endblock content_content %}
                </div>
                <div class="col-sm-3">
                    {% block content_sidebar %}
                   <div class="bs-example" data-example-id="simple-nav-stacked">
                    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                      <li role="presentation" class="active"><a href="{{ path('movie') }}">Strona główna</a></li>
                      <li role="presentation"><a href="{{ path('purchase') }}">Zamówienia</a></li>
                      <li class="divider"></li>
                      <li role="presentation"><a href="{{ path('fos_user_security_login') }}">Logowanie</a></li>

                      <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Rejestracja</a></li>
                      <li role="presentation"><a href="{{ path('movie_new') }}">Dodaj film</a></li>
                      <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>

                      
                    </ul>
                  </div>
                    {% endblock content_sidebar %}
                </div>
                {% endblock content %}
            </div>
            {% endblock content_row %}

        {% block content_div_end %}</div>{% endblock content_div_end %}

        {% block footer_tag_start %}
        <footer>
        {% endblock footer_tag_start %}

        {% block footer %}
        <p>(c) 2015</p>
        {% endblock footer %}

        {% block footer_tag_end %}
        </footer>
        {% endblock footer_tag_end %}
    {% block container_div_end %}</div><!-- /container -->{% endblock container_div_end %}
    {% endblock container %}

    {% block body_end_before_js %}
    {% endblock body_end_before_js %}

    {% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
    {% block foot_script_assetic %}
    {% endblock foot_script_assetic %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('[data-toggle="popover"]').popover();
        });
    </script>
    {% endblock foot_script %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>