{% extends '::base.html.twig' %}

{% block content_content -%}
    <h1>Purchase list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Tytuł filmu</th>
                <th>Cena Filmu</th>
                <th>Użytkownik</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.id==id %}class="success"{% endif %}>
                <td><a href="{{ path('purchase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% for key, value in movies  %}
                    {% if value.id==entity.movieId %}
                        {{ value.title }}</td><td>
                        {{ value.price }}$
                    {% endif %}
                    {% endfor %}</td>
                    
                <td>{% for key, value in users  %}
                    {% if value.id==entity.userId %}
                        {{ value.username }}
                    {% endif %}
                    {% endfor %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('purchase_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('purchase_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
