{% extends '::base.html.twig' %} {% block content_content -%}
<h1>Lista filmów</h1> {% for entity in entities %}
<div class="row">

    <div class="thumbnail col-md-7">
        <a href="#">
            <img class="img-responsive" src="{{ entity.image }}" alt="">
        </a>
        <div class="caption post-content">
            <h4> {{ entity.title }} </h4>
        </div>
    </div>
    <div class="col-md-5">
        <ul class="breadcrumb">

            <li><a href="{{ path('movie')}}">Filmy</a>
                <span class="divider">/</span>
            </li>
            <li class="active"> <strong>{{ entity.title }} </strong>
            </li>
        </ul>

        <h4>Cena ${{ entity.price }}</h4>
        <p>{{ entity.info }}</p>
        <a class="btn btn-success" href="{{ path('purchase_create', { 'id': entity.id }) }}" >
            Zakup <span class="glyphicon glyphicon-chevron-right"></span></a>
            {% if is_granted('ROLE_USER') %}

            <a class="btn btn-info btn-xs pull-right" href="{{ path('movie_edit', { 'id': entity.id }) }}">
                <span class="glyphicon glyphicon-cog"></span> Edytuj</a>

    {% endif %}
    </div>
</div>

{% endfor %} {% endblock %}
