{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.title }}</h1>

	<img class="img-responsive" src="{{ entity.image }}" alt="">
	
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Gatunek:</th>
                <td>{{ entity.genre }}</td>
            </tr>
			<tr>
                <th>Rok produkcji:</th>
                <td>{{ entity.year }}</td>
            </tr>
			<tr>
                <th>Rezyser:</th>
                <td>{{ entity.director }}</td>
            </tr>			
			<tr>
                <th>Opis:</th>
                <td>{{ entity.info }}</td>
            </tr>
            <tr>
                <th>Cena:</th>
                <td>{{ entity.price }}</td>
            </tr>
        </tbody>
    </table>

	<ul class="record_actions">
		<li>
			<a class="btn btn-success" href="{{ path('purchase_create', { 'id': entity.id }) }}" >
				Dodaj recenzje <span class="glyphicon glyphicon-chevron-right"></span></a>
				{% if is_granted('ROLE_USER') %}
				{% endif %}
		</li>
		<li>
			<a class="btn btn-success" href="{{ path('purchase_create', { 'id': entity.id }) }}" >
				Zakup <span class="glyphicon glyphicon-chevron-right"></span></a>
				{% if is_granted('ROLE_USER') %}
				{% endif %}
		</li>
	</ul>
{% endblock %}
